!.gitignore
*~
pom.xml
target
project/boot/
*_managed
.idea
lib*
derby.log
org.squeryl.tests.cfg
profileOfH2Tests.html
*.h2.db
*.trace.db
.sbtconfig
tags
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.log
dist/*
target/
lib_managed/
src_managed/
project/plugins/project/
.history
.cache
.lib/
